# macOS
.DS_Store

# IDE
.idea/
.vscode/

# Environment / secrets
.env
*.env

# Database files
*.db
*.sqlite
*.sqlite3

# Logs
*.log

# Temporary files
*.tmp

# Python virtual environment
venv/

__pycache__/
*.pyc
